.login{
  display: inline-block;
  border: solid 1px;
  height: 30px;
  width: 70px;
  margin-top: 20px;
  margin-left: 10px;
  text-align: center;
  cursor: pointer;
}

.login:hover{
  background-color: rgba(96, 96, 96, 0.5);
}

.login span{
  font-size: 1rem;
  position: relative;
  top:-25px;
}